<%- include('header')%>
    <h1>template engine from ejs</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus fugit beatae quod nihil quaerat accusantium hic neque, dolorum placeat consequatur quam eos nisi.</p>
<%- include('footer')%>